<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACCINFO</title>
</head>
<body>
    <h1>Below are your details</h1>
    <br>
    <br>
    <form method="post">
        <br>
        ACCOUNT TYPE= {{.AccType}}
        <br>
        BRANCH CODE= {{.BranchCode}}
        <br>
        BALANCE= {{.Balance}}
        <br>
        CONTACT INFO= {{.ContactNumber}}
        <br>
        ==================
        <br>

        <br>
        <br>
        <br>
        <h3>Please goto /edit to edit contact info</h3>

    </form>
</body>
</html>