<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EnterACCID</title>
</head>
<body>
    <h1>Please Enter your Account ID</h1>
    <br><br><br>
    <em>from 123 , 456 , 789</em>
    <strong>else no data will be displayed</strong>
    <br><br><br>
    <form method="post">
        <div>
        <input type="text" name="accID" >ACC ID :
        <input type="submit" value="submit"/>
        </div>
    </form>
    <br><br><br>
<h1>::::::::::::::::Please goto /accinfo to display details :::::::::::::::::  </h1>
</body>
</html>