!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{range .e}}
    <h1> {{.Name}}===={{.Age}}=====</h1>
    {{end}}

    {{range .f}}
    <h1> {{.Name}}===={{.Age}}=====</h1>
    {{end}}
  </body>
</html>
